@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: Airborne; 
    src: url(/fonts/airborne.ttf); 
  }

  @layer base {
    body {
      background: #0B0B0B;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400;
    }
    h1 {
      font-family: Airborne, system-ui, sans-serif;
    }

    .font_Airborne {
      font-family: Airborne, system-ui, sans-serif;
    }

    p {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400;
    }

    .Source_Sans_Pro {
      font-family: 'Source Sans Pro', sans-serif;
    }

    .btn {
      @apply inline-flex text-gray-700 bg-gray-100 border-0 py-5 px-10 focus:outline-none hover:bg-gray-300 font_Airborne text-xl uppercase transition duration-700 ease-in-out
    }
    .btn:hover {
      background: linear-gradient(180deg, #FCB040 0%, #FF2BFF 100%);
      color: #fff;
    }

    .btn--shadow {
      @apply hover:shadow-lg hover:shadow-pink-500/50
    }


    .title {
      font-family: 'Airborne';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 100%;
    /* or 100px */
    color: #FFFFFF;
    }
  }

.h1-title {
  @apply text-4xl md:text-7xl lg:text-8xl ;
}

.btn-primary {
    @apply inline-flex text-gray-900 bg-white border-0 py-5 px-10  text-xl transition ease-in-out ;
}

.btn-primary:hover {
      background: linear-gradient(180deg, #FCB040 0%, #FF2BFF 100%);
      color: #fff;
    }



